# Dependencies

In [2]:
import pandas as pd

# Data Import and Cleanup

In [3]:
movies_meta = pd.read_csv("datasets/the-movies-dataset/movies_metadata.csv")

# filter out foreign movies (not en or de)
movies_meta = movies_meta[movies_meta.original_language.isin(["en", "de"])]

# filter movies with NA in critical columns
for column in ["imdb_id", "title", "release_date", "popularity"]:
    movies_meta = movies_meta[movies_meta[column].isna() == False]

# filter adult movies
movies_meta = movies_meta[movies_meta.adult == "False"]

# sort the list by popularity
movies_meta["popularity"] = pd.to_numeric(movies_meta.popularity)
movies_meta = movies_meta.sort_values("popularity", ascending=False)

# drop unnecessary columns
movies_meta = movies_meta.drop(["adult", "belongs_to_collection", "id"], axis=1)

movies_meta.head(2)

,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
30700,74000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",http://www.minionsmovie.com/,tt2293640,en,Minions,"Minions Stuart, Kevin and Bob are recruited by...",547.488298,/q0R4crx2SehcEEQEkYObktdeFy.jpg,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,2015-06-17,1.156731e+09,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Before Gru, they had a history of bad bosses",Minions,False,6.4,4729.0
33356,149000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.warnerbros.com/wonder-woman,tt0451279,en,Wonder Woman,An Amazon princess comes to the world of Man t...,294.337037,/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg,"[{'name': 'Dune Entertainment', 'id': 444}, {'...",...,2017-05-30,8.205804e+08,141.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,Power. Grace. Wisdom. Wonder.,Wonder Woman,False,7.2,5025.0

In [4]:
# find and purge duplicated imdb ids
movies_meta["is_duplicate"] = movies_meta.duplicated(["imdb_id"])
movies_meta = movies_meta[~movies_meta.is_duplicate]
max(movies_meta.imdb_id.value_counts())

1

In [5]:
# TODO: we might actually want to use these columns, but we do not save them to the DB in a first iteration!
movies_meta = movies_meta.drop(["genres", "production_companies", "spoken_languages", "production_countries", "is_duplicate"], axis=1)

# Segmentation based on Release Date

In [6]:
def assign_date_bucket(row):
    as_dt = pd.to_datetime(row["release_date"])
    year = as_dt.year
    
    # before 1990
    if year < 1990:
        return 0
    
    # 1990-2005
    elif year < 2005:
        return 1
    
    # 2005-2020
    return 2

movies_meta["date_segment"] = movies_meta.apply(assign_date_bucket, axis=1)
movies_meta.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
30700,74000000,http://www.minionsmovie.com/,tt2293640,en,Minions,"Minions Stuart, Kevin and Bob are recruited by...",547.488298,/q0R4crx2SehcEEQEkYObktdeFy.jpg,2015-06-17,1.156731e+09,91.0,Released,"Before Gru, they had a history of bad bosses",Minions,False,6.4,4729.0,2
33356,149000000,http://www.warnerbros.com/wonder-woman,tt0451279,en,Wonder Woman,An Amazon princess comes to the world of Man t...,294.337037,/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg,2017-05-30,8.205804e+08,141.0,Released,Power. Grace. Wisdom. Wonder.,Wonder Woman,False,7.2,5025.0,2

In [7]:
# movies_meta.info()

In [8]:
movies_until_1990 = movies_meta[movies_meta["date_segment"] == 0]
movies_until_1990.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
536,28000000,http://www.warnerbros.com/blade-runner,tt0083658,en,Blade Runner,In the smog-choked dystopian Los Angeles of 20...,96.272374,/p64TtbZGCElxQHpAMWmDHkWJlH2.jpg,1982-06-25,33139618.0,117.0,Released,Man has made his match... now it's his problem.,Blade Runner,False,7.9,3833.0,0
256,11000000,http://www.starwars.com/films/star-wars-episod...,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,42.149697,/btTdmkgIvOi0FFip1sPuZI2oQG6.jpg,1977-05-25,775398007.0,121.0,Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778.0,0

In [9]:
movies_until_2005 = movies_meta[movies_meta["date_segment"] == 1]
movies_until_2005.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
292,8000000,NaN,tt0110912,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",140.950236,/dM2w364MScsjFf8pfMbaWUcWrR.jpg,1994-09-10,213928762.0,154.0,Released,Just because you are a character doesn't mean ...,Pulp Fiction,False,8.3,8670.0,1
2843,63000000,http://www.foxmovies.com/movies/fight-club,tt0137523,en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,63.869599,/adw6Lq9FiC9zjYEpOqfq03ituwp.jpg,1999-10-15,100853753.0,139.0,Released,Mischief. Mayhem. Soap.,Fight Club,False,8.3,9678.0,1

In [10]:
movies_until_2020 = movies_meta[movies_meta["date_segment"] == 2]
movies_until_2020.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
30700,74000000,http://www.minionsmovie.com/,tt2293640,en,Minions,"Minions Stuart, Kevin and Bob are recruited by...",547.488298,/q0R4crx2SehcEEQEkYObktdeFy.jpg,2015-06-17,1.156731e+09,91.0,Released,"Before Gru, they had a history of bad bosses",Minions,False,6.4,4729.0,2
33356,149000000,http://www.warnerbros.com/wonder-woman,tt0451279,en,Wonder Woman,An Amazon princess comes to the world of Man t...,294.337037,/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg,2017-05-30,8.205804e+08,141.0,Released,Power. Grace. Wisdom. Wonder.,Wonder Woman,False,7.2,5025.0,2

# Extract Top50

In [11]:
top50_until_1990 = movies_until_1990.iloc[0:50]
top50_until_1990.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
536,28000000,http://www.warnerbros.com/blade-runner,tt0083658,en,Blade Runner,In the smog-choked dystopian Los Angeles of 20...,96.272374,/p64TtbZGCElxQHpAMWmDHkWJlH2.jpg,1982-06-25,33139618.0,117.0,Released,Man has made his match... now it's his problem.,Blade Runner,False,7.9,3833.0,0
256,11000000,http://www.starwars.com/films/star-wars-episod...,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,42.149697,/btTdmkgIvOi0FFip1sPuZI2oQG6.jpg,1977-05-25,775398007.0,121.0,Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778.0,0

In [12]:
top50_until_2005 = movies_until_2005.iloc[0:50]
top50_until_2005.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
292,8000000,NaN,tt0110912,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",140.950236,/dM2w364MScsjFf8pfMbaWUcWrR.jpg,1994-09-10,213928762.0,154.0,Released,Just because you are a character doesn't mean ...,Pulp Fiction,False,8.3,8670.0,1
2843,63000000,http://www.foxmovies.com/movies/fight-club,tt0137523,en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,63.869599,/adw6Lq9FiC9zjYEpOqfq03ituwp.jpg,1999-10-15,100853753.0,139.0,Released,Mischief. Mayhem. Soap.,Fight Club,False,8.3,9678.0,1

In [13]:
top50_until_2020 = movies_until_2020.iloc[0:50]
top50_until_2020.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
30700,74000000,http://www.minionsmovie.com/,tt2293640,en,Minions,"Minions Stuart, Kevin and Bob are recruited by...",547.488298,/q0R4crx2SehcEEQEkYObktdeFy.jpg,2015-06-17,1.156731e+09,91.0,Released,"Before Gru, they had a history of bad bosses",Minions,False,6.4,4729.0,2
33356,149000000,http://www.warnerbros.com/wonder-woman,tt0451279,en,Wonder Woman,An Amazon princess comes to the world of Man t...,294.337037,/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg,2017-05-30,8.205804e+08,141.0,Released,Power. Grace. Wisdom. Wonder.,Wonder Woman,False,7.2,5025.0,2

# Hydrate Database

In [14]:
# conda install sqlalchemy, psycopg2
# pip install python-dotenv

import os

from sqlalchemy import create_engine
from dotenv import load_dotenv
load_dotenv()

True

In [15]:
engine = create_engine(os.getenv("DATABASE_URL"), echo=True)

In [16]:
engine

Engine(postgres://powehcwhsbjgua:***@ec2-54-247-169-129.eu-west-1.compute.amazonaws.com:5432/d80l0rr6f8rlgt)

In [17]:
top50_all = pd.concat([top50_until_1990, top50_until_2005, top50_until_2020])
top50_all = top50_all.set_index("imdb_id")
top50_all.to_sql("movies", con=engine, if_exists="replace")

2020-03-17 21:21:08,642 INFO sqlalchemy.engine.base.Engine select version()
2020-03-17 21:21:08,644 INFO sqlalchemy.engine.base.Engine {}
2020-03-17 21:21:08,733 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-03-17 21:21:08,734 INFO sqlalchemy.engine.base.Engine {}
2020-03-17 21:21:08,817 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-03-17 21:21:08,818 INFO sqlalchemy.engine.base.Engine {}
2020-03-17 21:21:08,859 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-03-17 21:21:08,859 INFO sqlalchemy.engine.base.Engine {}
2020-03-17 21:21:08,901 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-03-17 21:21:08,902 INFO sqlalchemy.engine.base.Engine {}
2020-03-17 21:21:08,985 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-03-17 21:21:08,987 INFO sqlalchemy.engine.base.Engine {'name': 'movies'}
2020-03-17 21:21:09,119 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-03-17 21:21:09,120 INFO sqlalchemy.engine.base.Engine {'name': 'movies'}
2020-03-17 21:21:09,239 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2020-03-17 21:21:09,240 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2020-03-17 21:21:09,321 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2020-03-17 21:21:09,321 INFO sqlalchemy.engine.base.Engine {'table_name': 'movies'}
2020-03-17 21:21:09,361 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2020-03-17 21:21:09,362 INFO sqlalchemy.engine.base.Engine {'table_oid': 4775741}
2020-03-17 21:21:09,407 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2020-03-17 21:21:09,408 INFO sqlalchemy.engine.base.Engine {}
2020-03-17 21:21:09,467 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2020-03-17 21:21:09,467 INFO sqlalchemy.engine.base.Engine {}
2020-03-17 21:21:09,510 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2020-03-17 21:21:09,511 INFO sqlalchemy.engine.base.Engine {'table_oid': 4775741}
2020-03-17 21:21:09,553 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2020-03-17 21:21:09,555 INFO sqlalchemy.engine.base.Engine {'table_oid': 4775741}
2020-03-17 21:21:09,598 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2020-03-17 21:21:09,599 INFO sqlalchemy.engine.base.Engine {'table': 4775741}
2020-03-17 21:21:09,642 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2020-03-17 21:21:09,642 INFO sqlalchemy.engine.base.Engine {'table_oid': 4775741}
2020-03-17 21:21:09,692 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2020-03-17 21:21:09,693 INFO sqlalchemy.engine.base.Engine {'table_oid': 4775741}
2020-03-17 21:21:09,739 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2020-03-17 21:21:09,741 INFO sqlalchemy.engine.base.Engine {'table_oid': 4775741}
2020-03-17 21:21:09,783 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2020-03-17 21:21:09,784 INFO sqlalchemy.engine.base.Engine {'table_oid': 4775741}
2020-03-17 21:21:09,863 INFO sqlalchemy.engine.base.Engine
DROP TABLE movies
2020-03-17 21:21:09,864 INFO sqlalchemy.engine.base.Engine {}
2020-03-17 21:21:09,943 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-17 21:21:09,995 INFO sqlalchemy.engine.base.Engine
CREATE TABLE movies (
	imdb_id TEXT,
	budget TEXT,
	homepage TEXT,
	original_language TEXT,
	original_title TEXT,
	overview TEXT,
	popularity FLOAT(53),
	poster_path TEXT,
	release_date TEXT,
	revenue FLOAT(53),
	runtime FLOAT(53),
	status TEXT,
	tagline TEXT,
	title TEXT,
	video BOOLEAN,
	vote_average FLOAT(53),
	vote_count FLOAT(53),
	date_segment BIGINT
)


2020-03-17 21:21:09,996 INFO sqlalchemy.engine.base.Engine {}
2020-03-17 21:21:10,081 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-17 21:21:10,135 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_movies_imdb_id ON movies (imdb_id)
2020-03-17 21:21:10,135 INFO sqlalchemy.engine.base.Engine {}
2020-03-17 21:21:10,219 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-17 21:21:10,263 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-03-17 21:21:10,267 INFO sqlalchemy.engine.base.Engine INSERT INTO movies (imdb_id, budget, homepage, original_language, original_title, overview, popularity, poster_path, release_date, revenue, runtime, status, tagline, title, video, vote_average, vote_count, date_segment) VALUES (%(imdb_id)s, %(budget)s, %(homepage)s, %(original_language)s, %(original_title)s, %(overview)s, %(popularity)s, %(poster_path)s, %(release_date)s, %(revenue)s, %(runtime)s, %(status)s, %(tagline)s, %(title)s, %(video)s, %(vote_average)s, %(vote_count)s, %(date_segment)s)
2020-03-17 21:21:10,268 INFO sqlalchemy.engine.base.Engine ({'imdb_id': 'tt0083658', 'budget': '28000000', 'homepage': 'http://www.warnerbros.com/blade-runner', 'original_language': 'en', 'original_title': 'Blade Runner', 'overview': 'In the smog-choked dystopian Los Angeles of 2019, blade runner Rick Deckard is called out of retirement to terminate a quartet of replicants who have escaped to Earth seeking their creator for a way to extend their short life spans.', 'popularity': 96.272374, 'poster_path': '/p64TtbZGCElxQHpAMWmDHkWJlH2.jpg', 'release_date': '1982-06-25', 'revenue': 33139618.0, 'runtime': 117.0, 'status': 'Released', 'tagline': "Man has made his match... now it's his problem.", 'title': 'Blade Runner', 'video': False, 'vote_average': 7.9, 'vote_count': 3833.0, 'date_segment': 0}, {'imdb_id': 'tt0076759', 'budget': '11000000', 'homepage': 'http://www.starwars.com/films/star-wars-episode-iv-a-new-hope', 'original_language': 'en', 'original_title': 'Star Wars', 'overview': 'Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker a ... (14 characters truncated) ... tain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.', 'popularity': 42.149696999999996, 'poster_path': '/btTdmkgIvOi0FFip1sPuZI2oQG6.jpg', 'release_date': '1977-05-25', 'revenue': 775398007.0, 'runtime': 121.0, 'status': 'Released', 'tagline': 'A long time ago in a galaxy far, far away...', 'title': 'Star Wars', 'video': False, 'vote_average': 8.1, 'vote_count': 6778.0, 'date_segment': 0}, {'imdb_id': 'tt0068646', 'budget': '6000000', 'homepage': 'http://www.thegodfather.com/', 'original_language': 'en', 'original_title': 'The Godfather', 'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Cor ... (9 characters truncated) ... ely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.', 'popularity': 41.109264, 'poster_path': '/rPdtLWNsZmAtoZl9PK7S2wE3qiS.jpg', 'release_date': '1972-03-14', 'revenue': 245066411.0, 'runtime': 175.0, 'status': 'Released', 'tagline': "An offer you can't refuse.", 'title': 'The Godfather', 'video': False, 'vote_average': 8.5, 'vote_count': 6024.0, 'date_segment': 0}, {'imdb_id': 'tt0054215', 'budget': '806948', 'homepage': None, 'original_language': 'en', 'original_title': 'Psycho', 'overview': 'When larcenous real estate clerk Marion Crane goes on the lam with a wad of cash and hopes of starting a new life, she ends up at the notorious Bates Motel, where manager Norman Bates cares for his housebound mother. The place seems quirky, but fineâ€¦ until Marion decides to take a shower.', 'popularity': 36.826309, 'poster_path': '/81d8oyEFgj7FlxJqSDXWr8JH8kV.jpg', 'release_date': '1960-06-16', 'revenue': 32000000.0, 'runtime': 109.0, 'status': 'Released', 'tagline': 'The master of suspense moves his cameras into the icy blackness of the unexplored!', 'title': 'Psycho', 'video': False, 'vote_average': 8.3, 'vote_count': 2405.0, 'date_segment': 0}, {'imdb_id': 'tt0071562', 'budget': '13000000', 'homepage': None, 'original_language': 'en', 'original_title': 'The Godfather: Part II', 'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.', 'popularity': 36.629307, 'poster_path': '/bVq65huQ8vHDd1a4Z37QtuyEvpA.jpg', 'release_date': '1974-12-20', 'revenue': 47542841.0, 'runtime': 200.0, 'status': 'Released', 'tagline': "I don't feel I have to wipe everybody out, Tom. Just my enemies.", 'title': 'The Godfather: Part II', 'video': False, 'vote_average': 8.3, 'vote_count': 3418.0, 'date_segment': 0}, {'imdb_id': 'tt0073486', 'budget': '3000000', 'homepage': None, 'original_language': 'en', 'original_title': "One Flew Over the Cuckoo's Nest", 'overview': 'While serving time for insanity at a state mental hospital, implacable rabble-rouser, Randle Patrick McMurphy inspires his fellow patients to rebel against the authoritarian rule of head nurse, Mildred Ratched.', 'popularity': 35.529554, 'poster_path': '/2Sns5oMb356JNdBHgBETjIpRYy9.jpg', 'release_date': '1975-11-18', 'revenue': 108981275.0, 'runtime': 133.0, 'status': 'Released', 'tagline': "If he's crazy, what does that make you?", 'title': "One Flew Over the Cuckoo's Nest", 'video': False, 'vote_average': 8.3, 'vote_count': 3001.0, 'date_segment': 0}, {'imdb_id': 'tt0087843', 'budget': '30000000', 'homepage': None, 'original_language': 'en', 'original_title': 'Once Upon a Time in America', 'overview': 'A former Prohibition-era Jewish gangster returns to the Lower East Side of Manhattan over thirty years later, where he once again must confront the ghosts and regrets of his old life.', 'popularity': 32.182851, 'poster_path': '/fqP3Q7DWMFqW7mh11hWXbNwN9rz.jpg', 'release_date': '1984-02-16', 'revenue': 0.0, 'runtime': 229.0, 'status': 'Released', 'tagline': "Crime, passion and lust for power - Sergio Leone's explosive saga of gangland America.", 'title': 'Once Upon a Time in America', 'video': False, 'vote_average': 8.3, 'vote_count': 1104.0, 'date_segment': 0}, {'imdb_id': 'tt0088763', 'budget': '19000000', 'homepage': 'http://www.backtothefuture.com/movies/backtothefuture1', 'original_language': 'en', 'original_title': 'Back to the Future', 'overview': "Eighties teenager Marty McFly is accidentally sent back in time to 1955, inadvertently disrupting his parents' first meeting and attracting his mothe ... (29 characters truncated) ... must repair the damage to history by rekindling his parents' romance and - with the help of his eccentric inventor friend Doc Brown - return to 1985.", 'popularity': 25.778509, 'poster_path': '/pTpxQB1N0waaSc3OSn0e9oc8kx9.jpg', 'release_date': '1985-07-03', 'revenue': 381109762.0, 'runtime': 116.0, 'status': 'Released', 'tagline': "He's the only kid ever to get into trouble before he was born.", 'title': 'Back to the Future', 'video': False, 'vote_average': 8.0, 'vote_count': 6239.0, 'date_segment': 0}  ... displaying 10 of 150 total bound parameter sets ...  {'imdb_id': 'tt1131724', 'budget': '0', 'homepage': None, 'original_language': 'en', 'original_title': '2:22', 'overview': "A man's life is derailed when an ominous pattern of events repeats itself in exactly the same manner every day, ending at precisely 2:22 p.m.", 'popularity': 37.484577, 'poster_path': '/aQkXOiMi7yBR3XwDbGBzDI2Tqnq.jpg', 'release_date': '2017-06-29', 'revenue': 422.0, 'runtime': 99.0, 'status': 'Released', 'tagline': None, 'title': '2:22', 'video': False, 'vote_average': 5.5, 'vote_count': 277.0, 'date_segment': 2}, {'imdb_id': 'tt2395427', 'budget': '280000000', 'homepage': 'http://marvel.com/movies/movie/193/avengers_age_of_ultron', 'original_language': 'en', 'original_title': 'Avengers: Age of Ultron', 'overview': 'When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earthâ€™s Mightiest Heroes are put to the ultimate test as the fa ... (96 characters truncated) ... s to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.', 'popularity': 37.37942, 'poster_path': '/t90Y3G8UGQp0f0DrP60wRu9gfrH.jpg', 'release_date': '2015-04-22', 'revenue': 1405403694.0, 'runtime': 141.0, 'status': 'Released', 'tagline': 'A New Age Has Come.', 'title': 'Avengers: Age of Ultron', 'video': False, 'vote_average': 7.3, 'vote_count': 6908.0, 'date_segment': 2})
2020-03-17 21:21:16,253 INFO sqlalchemy.engine.base.Engine COMMIT