# Dependencies

In [1]:
import pandas as pd

# Data Import and Cleanup

In [2]:
movies_meta = pd.read_csv("datasets/the-movies-dataset/movies_metadata.csv")

# filter out foreign movies (not en or de)
movies_meta = movies_meta[movies_meta.original_language.isin(["en", "de"])]

# filter movies with NA in critical columns
for column in ["imdb_id", "title", "release_date", "popularity"]:
    movies_meta = movies_meta[movies_meta[column].isna() == False]

# filter adult movies
movies_meta = movies_meta[movies_meta.adult == "False"]

# sort the list by popularity
movies_meta["popularity"] = pd.to_numeric(movies_meta.popularity)
movies_meta = movies_meta.sort_values("popularity", ascending=False)

# drop unnecessary columns
movies_meta = movies_meta.drop(["adult", "belongs_to_collection", "id"], axis=1)

movies_meta.head(2)

,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
30700,74000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",http://www.minionsmovie.com/,tt2293640,en,Minions,"Minions Stuart, Kevin and Bob are recruited by...",547.488298,/q0R4crx2SehcEEQEkYObktdeFy.jpg,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,2015-06-17,1.156731e+09,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Before Gru, they had a history of bad bosses",Minions,False,6.4,4729.0
33356,149000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.warnerbros.com/wonder-woman,tt0451279,en,Wonder Woman,An Amazon princess comes to the world of Man t...,294.337037,/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg,"[{'name': 'Dune Entertainment', 'id': 444}, {'...",...,2017-05-30,8.205804e+08,141.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,Power. Grace. Wisdom. Wonder.,Wonder Woman,False,7.2,5025.0

In [3]:
# find and purge duplicated imdb ids
movies_meta["is_duplicate"] = movies_meta.duplicated(["imdb_id"])
movies_meta = movies_meta[~movies_meta.is_duplicate]
max(movies_meta.imdb_id.value_counts())

1

In [4]:
# TODO: we might actually want to use these columns, but we do not save them to the DB in a first iteration!
movies_meta = movies_meta.drop(["genres", "production_companies", "spoken_languages", "production_countries", "is_duplicate"], axis=1)

# Segmentation based on Release Date

In [5]:
def assign_date_bucket(row):
    as_dt = pd.to_datetime(row["release_date"])
    year = as_dt.year
    
    # before 1990
    if year < 1990:
        return 0
    
    # 1990-2005
    elif year < 2005:
        return 1
    
    # 2005-2020
    return 2

movies_meta["date_segment"] = movies_meta.apply(assign_date_bucket, axis=1)
movies_meta.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
30700,74000000,http://www.minionsmovie.com/,tt2293640,en,Minions,"Minions Stuart, Kevin and Bob are recruited by...",547.488298,/q0R4crx2SehcEEQEkYObktdeFy.jpg,2015-06-17,1.156731e+09,91.0,Released,"Before Gru, they had a history of bad bosses",Minions,False,6.4,4729.0,2
33356,149000000,http://www.warnerbros.com/wonder-woman,tt0451279,en,Wonder Woman,An Amazon princess comes to the world of Man t...,294.337037,/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg,2017-05-30,8.205804e+08,141.0,Released,Power. Grace. Wisdom. Wonder.,Wonder Woman,False,7.2,5025.0,2

In [6]:
# movies_meta.info()

In [7]:
movies_until_1990 = movies_meta[movies_meta["date_segment"] == 0]
movies_until_1990.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
536,28000000,http://www.warnerbros.com/blade-runner,tt0083658,en,Blade Runner,In the smog-choked dystopian Los Angeles of 20...,96.272374,/p64TtbZGCElxQHpAMWmDHkWJlH2.jpg,1982-06-25,33139618.0,117.0,Released,Man has made his match... now it's his problem.,Blade Runner,False,7.9,3833.0,0
256,11000000,http://www.starwars.com/films/star-wars-episod...,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,42.149697,/btTdmkgIvOi0FFip1sPuZI2oQG6.jpg,1977-05-25,775398007.0,121.0,Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778.0,0

In [8]:
movies_until_2005 = movies_meta[movies_meta["date_segment"] == 1]
movies_until_2005.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
292,8000000,NaN,tt0110912,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",140.950236,/dM2w364MScsjFf8pfMbaWUcWrR.jpg,1994-09-10,213928762.0,154.0,Released,Just because you are a character doesn't mean ...,Pulp Fiction,False,8.3,8670.0,1
2843,63000000,http://www.foxmovies.com/movies/fight-club,tt0137523,en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,63.869599,/adw6Lq9FiC9zjYEpOqfq03ituwp.jpg,1999-10-15,100853753.0,139.0,Released,Mischief. Mayhem. Soap.,Fight Club,False,8.3,9678.0,1

In [9]:
movies_until_2020 = movies_meta[movies_meta["date_segment"] == 2]
movies_until_2020.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
30700,74000000,http://www.minionsmovie.com/,tt2293640,en,Minions,"Minions Stuart, Kevin and Bob are recruited by...",547.488298,/q0R4crx2SehcEEQEkYObktdeFy.jpg,2015-06-17,1.156731e+09,91.0,Released,"Before Gru, they had a history of bad bosses",Minions,False,6.4,4729.0,2
33356,149000000,http://www.warnerbros.com/wonder-woman,tt0451279,en,Wonder Woman,An Amazon princess comes to the world of Man t...,294.337037,/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg,2017-05-30,8.205804e+08,141.0,Released,Power. Grace. Wisdom. Wonder.,Wonder Woman,False,7.2,5025.0,2

# Extract Top50

In [10]:
top50_until_1990 = movies_until_1990.iloc[0:50]
top50_until_1990.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
536,28000000,http://www.warnerbros.com/blade-runner,tt0083658,en,Blade Runner,In the smog-choked dystopian Los Angeles of 20...,96.272374,/p64TtbZGCElxQHpAMWmDHkWJlH2.jpg,1982-06-25,33139618.0,117.0,Released,Man has made his match... now it's his problem.,Blade Runner,False,7.9,3833.0,0
256,11000000,http://www.starwars.com/films/star-wars-episod...,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,42.149697,/btTdmkgIvOi0FFip1sPuZI2oQG6.jpg,1977-05-25,775398007.0,121.0,Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778.0,0

In [11]:
top50_until_2005 = movies_until_2005.iloc[0:50]
top50_until_2005.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
292,8000000,NaN,tt0110912,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",140.950236,/dM2w364MScsjFf8pfMbaWUcWrR.jpg,1994-09-10,213928762.0,154.0,Released,Just because you are a character doesn't mean ...,Pulp Fiction,False,8.3,8670.0,1
2843,63000000,http://www.foxmovies.com/movies/fight-club,tt0137523,en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,63.869599,/adw6Lq9FiC9zjYEpOqfq03ituwp.jpg,1999-10-15,100853753.0,139.0,Released,Mischief. Mayhem. Soap.,Fight Club,False,8.3,9678.0,1

In [12]:
top50_until_2020 = movies_until_2020.iloc[0:50]
top50_until_2020.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
30700,74000000,http://www.minionsmovie.com/,tt2293640,en,Minions,"Minions Stuart, Kevin and Bob are recruited by...",547.488298,/q0R4crx2SehcEEQEkYObktdeFy.jpg,2015-06-17,1.156731e+09,91.0,Released,"Before Gru, they had a history of bad bosses",Minions,False,6.4,4729.0,2
33356,149000000,http://www.warnerbros.com/wonder-woman,tt0451279,en,Wonder Woman,An Amazon princess comes to the world of Man t...,294.337037,/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg,2017-05-30,8.205804e+08,141.0,Released,Power. Grace. Wisdom. Wonder.,Wonder Woman,False,7.2,5025.0,2

# Ensure Consistency with Poster-Service

In [13]:
import requests

In [14]:
top50_all = pd.concat([top50_until_1990, top50_until_2005, top50_until_2020])

In [15]:
top50_all.head(2)

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment
536,28000000,http://www.warnerbros.com/blade-runner,tt0083658,en,Blade Runner,In the smog-choked dystopian Los Angeles of 20...,96.272374,/p64TtbZGCElxQHpAMWmDHkWJlH2.jpg,1982-06-25,33139618.0,117.0,Released,Man has made his match... now it's his problem.,Blade Runner,False,7.9,3833.0,0
256,11000000,http://www.starwars.com/films/star-wars-episod...,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,42.149697,/btTdmkgIvOi0FFip1sPuZI2oQG6.jpg,1977-05-25,775398007.0,121.0,Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778.0,0

In [24]:
def check_omdb_existence(row):
    try:
        result = requests.get(f"http://localhost:3000/?id={row['imdb_id']}")
        return result.status_code == 200
    except:
        return False

top50_all["omdb_consistent"] = top50_all.apply(check_omdb_existence, axis=1)

In [25]:
top50_all[~top50_all["omdb_consistent"]]

,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,date_segment,omdb_consistent
26566,200000000,http://marvel.com/movies/movie/221/guardians_o...,tt3896198,en,Guardians of the Galaxy Vol. 2,The Guardians must fight to keep their newfoun...,185.330992,/y4MBh0EjBlMuOzv9axM4qJlmhzz.jpg,2017-04-19,863416141.0,137.0,Released,Obviously.,Guardians of the Galaxy Vol. 2,False,7.6,4858.0,2,False

# Hydrate Database

In [26]:
# conda install sqlalchemy, psycopg2
# pip install python-dotenv

import os

from sqlalchemy import create_engine
from dotenv import load_dotenv
load_dotenv()

True

In [27]:
engine = create_engine(os.getenv("DATABASE_URL"), echo=True)

In [30]:
top50_all = top50_all.set_index("imdb_id")
top50_all[~top50_all["omdb_consistent"]].to_sql("movies", con=engine, if_exists="replace")

2020-03-22 20:22:40,898 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-03-22 20:22:40,899 INFO sqlalchemy.engine.base.Engine {'name': 'movies'}
2020-03-22 20:22:41,024 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-03-22 20:22:41,026 INFO sqlalchemy.engine.base.Engine {'name': 'movies'}
2020-03-22 20:22:41,142 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2020-03-22 20:22:41,143 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2020-03-22 20:22:41,217 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2020-03-22 20:22:41,218 INFO sqlalchemy.engine.base.Engine {'table_name': 'movies'}
2020-03-22 20:22:41,256 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2020-03-22 20:22:41,257 INFO sqlalchemy.engine.base.Engine {'table_oid': 6343121}
2020-03-22 20:22:41,298 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2020-03-22 20:22:41,298 INFO sqlalchemy.engine.base.Engine {}
2020-03-22 20:22:41,337 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2020-03-22 20:22:41,338 INFO sqlalchemy.engine.base.Engine {}
2020-03-22 20:22:41,380 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2020-03-22 20:22:41,381 INFO sqlalchemy.engine.base.Engine {'table_oid': 6343121}
2020-03-22 20:22:41,423 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2020-03-22 20:22:41,425 INFO sqlalchemy.engine.base.Engine {'table_oid': 6343121}
2020-03-22 20:22:41,464 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2020-03-22 20:22:41,465 INFO sqlalchemy.engine.base.Engine {'table': 6343121}
2020-03-22 20:22:41,503 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2020-03-22 20:22:41,503 INFO sqlalchemy.engine.base.Engine {'table_oid': 6343121}
2020-03-22 20:22:41,543 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2020-03-22 20:22:41,544 INFO sqlalchemy.engine.base.Engine {'table_oid': 6343121}
2020-03-22 20:22:41,585 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2020-03-22 20:22:41,586 INFO sqlalchemy.engine.base.Engine {'table_oid': 6343121}
2020-03-22 20:22:41,623 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2020-03-22 20:22:41,623 INFO sqlalchemy.engine.base.Engine {'table_oid': 6343121}
2020-03-22 20:22:41,698 INFO sqlalchemy.engine.base.Engine
DROP TABLE movies
2020-03-22 20:22:41,698 INFO sqlalchemy.engine.base.Engine {}
2020-03-22 20:22:41,775 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-22 20:22:41,824 INFO sqlalchemy.engine.base.Engine
CREATE TABLE movies (
	imdb_id TEXT,
	budget TEXT,
	homepage TEXT,
	original_language TEXT,
	original_title TEXT,
	overview TEXT,
	popularity FLOAT(53),
	poster_path TEXT,
	release_date TEXT,
	revenue FLOAT(53),
	runtime FLOAT(53),
	status TEXT,
	tagline TEXT,
	title TEXT,
	video BOOLEAN,
	vote_average FLOAT(53),
	vote_count FLOAT(53),
	date_segment BIGINT,
	omdb_consistent BOOLEAN
)


2020-03-22 20:22:41,825 INFO sqlalchemy.engine.base.Engine {}
2020-03-22 20:22:41,917 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-22 20:22:41,960 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_movies_imdb_id ON movies (imdb_id)
2020-03-22 20:22:41,961 INFO sqlalchemy.engine.base.Engine {}
2020-03-22 20:22:42,042 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-22 20:22:42,085 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-03-22 20:22:42,086 INFO sqlalchemy.engine.base.Engine INSERT INTO movies (imdb_id, budget, homepage, original_language, original_title, overview, popularity, poster_path, release_date, revenue, runtime, status, tagline, title, video, vote_average, vote_count, date_segment, omdb_consistent) VALUES (%(imdb_id)s, %(budget)s, %(homepage)s, %(original_language)s, %(original_title)s, %(overview)s, %(popularity)s, %(poster_path)s, %(release_date)s, %(revenue)s, %(runtime)s, %(status)s, %(tagline)s, %(title)s, %(video)s, %(vote_average)s, %(vote_count)s, %(date_segment)s, %(omdb_consistent)s)
2020-03-22 20:22:42,086 INFO sqlalchemy.engine.base.Engine {'imdb_id': 'tt3896198', 'budget': '200000000', 'homepage': 'http://marvel.com/movies/movie/221/guardians_of_the_galaxy_vol_2', 'original_language': 'en', 'original_title': 'Guardians of the Galaxy Vol. 2', 'overview': "The Guardians must fight to keep their newfound family together as they unravel the mysteries of Peter Quill's true parentage.", 'popularity': 185.33099199999998, 'poster_path': '/y4MBh0EjBlMuOzv9axM4qJlmhzz.jpg', 'release_date': '2017-04-19', 'revenue': 863416141.0, 'runtime': 137.0, 'status': 'Released', 'tagline': 'Obviously.', 'title': 'Guardians of the Galaxy Vol. 2', 'video': False, 'vote_average': 7.6, 'vote_count': 4858.0, 'date_segment': 2, 'omdb_consistent': False}
2020-03-22 20:22:42,170 INFO sqlalchemy.engine.base.Engine COMMIT